body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    color:white;
    text-align:center;
}


.container{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

button{
    padding:6px 10px;
    margin:3px;
    cursor:pointer;
}

.player, .character{
    border:1px solid white;
    padding:20px;
    margin:10px;
    display:inline-block;
    width:180px;
    border-radius:8px;
    cursor:pointer;
    background:#FFFFFF;
    color:rgb(0, 0, 0);
}

.avatar{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:10px;
}

.character.selected{
    background:rgb(255, 250, 205);
}

.banker{
    border:2px solid gold;
    background:rgb(255, 250, 205);
}

.hidden{
    display:none;
}

input{
    padding:5px;
}

.result-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.result-card{
    background: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.result-card h3{
    text-align: center;
    margin-bottom: 10px;
    
}

.result-card p{
    font-size: 14px;
    margin: 5px 0;
}

.flash{
    animation: flashGreen 0.5s ease;
}

@keyframes flashGreen{
    0.5%   { background-color: rgba(0,255,0,0); }
}

.restart-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background:rgb(255, 250, 205);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.restart-btn:hover{
    background:rgb(255, 250, 205);
}

